.modal-card {
  width: 50%;
}

div.fields {
  max-width: 80%;
}

button.add-sale-product-button {
  margin-top: 1em;
}

button.register-sale {
  margin-top: 2em;
}

input.input-number {
  max-width: 20em;
}